.interns {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f8f9;
}
.listName {
  width: 75%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.list {
  width: 75%;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 12.5%;
}
.list li {
  list-style-type: none;
  padding: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.references {
  width: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list li:nth-of-type(odd) {
  background-color: #e9ebec;
}
.list li:nth-of-type(even) {
  background-color: #f1f3f4;
}
.list li:hover {
  border-style: solid;
  border-width: thin;
}
